header section nav ul {
  display: flex;
  flex-direction: row;
  /*align-content: center;*/
  font-size: larger;
  list-style: none;
  align-items: center;

}


header section nav ul li a {
  align-items: center;
  margin: 30px;
  padding: 10px 30px;
  line-height: 50px;

  color: royalblue;
  font-weight: bold;
  transition: all .5s ease-in-out;
}