@import "./Header.css";

* {
  margin: 0;
  border: 0;
  font-size: 100%;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  padding: 0;
  text-decoration: none;
}

body {
  background: url("../Imagens/bolha-background.png") no-repeat;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 1024px;
  display: flex;
  flex-direction: colum;
  margin: 30px auto;

}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.row article {
  width: 250px;
}

h1 {
  color: #274360;
  font-size: 50px;

}

h2,
p {
  color: royalblue
}

p {
  /*poderia usar classe para melhorar*/
  align-items: center;
  letter-spacing: 2px;
  /*max-width: 300px;*/
  /*margin-right: 100px;*/
  margin: 10px 0px 40px;
}

.row figcaption img {
  width: 700px;
}

footer ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /*align-content: center;*/
}

footer ul li {
  /*margin: 20px;*/
  list-style: none;
  align-self: center;
}

.btn {
  padding: 10px 30px;
  transition: all .5s ease-in-out
}

.btn.btn-laranja {
  background-color: orangered;
  border-radius: 20px;
  text-align: center;
  line-height: 50px;
  color: white;

}

.btn:hover {
  background-color: #000;
  /*  Making button bigger on hover  */
  /*transform: scale(1.5) perspective(1px)*/
}