@import "./Header.css";

* {
  margin: 0;
  border: 0;
  font-size: 100%;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  padding: 0;
  text-decoration: none;
}

body {
  background: url("../Imagens/bolha-background.png") no-repeat;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  width: 1024px;
  margin: 30px auto;
  /*align-items: center;
  /*justify-content: center;
  /* margin-left: 40px;*/
}

section {
  display: flex;
  flex-direction: row;
}

h1 {
  color: #274360;
  font-size: 50px;

}

h2 {
  color: royalblue;

}

p {
  color: royalblue;
  max-width: 300px;
  /*margin-right: 100px;*/
  padding: 20px 20px 20px 0;
}

footer ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /*align-content: center;*/
}

footer ul li {
  /*margin: 20px;*/
  list-style: none;
  align-self: center;
}

.btn {
  padding: 10px 30px;
  transition: all .5s ease-in-out
}

.btn.btn-laranja {
  background-color: orangered;
  border-radius: 20px;
  text-align: center;
  line-height: 50px;
  color: white;

}

.btn:hover {
  background-color: #000;
  /*  Making button bigger on hover  */
  /*transform: scale(1.5) perspective(1px)*/
}