@import "./Header.css";
@import "./responsive-background.css";
@import "./Bootstrap.css";
@import "./responsiveElements.css";


* {
  margin: 0;
  border: 0;
  font-size: 100%;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  padding: 0;
  text-decoration: none;
}