@import "./variaveis.scss";
@import "./Header.scss";
@import "./footer.scss";
@import "./main.scss";
@import "./responsive-background.scss";
@import "./Bootstrap.scss";
@import "./responsiveElements.scss";



* {
  margin: 0;
  border: 0;
  font-size: 100%;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  padding: 0;
  text-decoration: none;
}