$cor-branco: #ffff;

$cor-primaria:#3399cc;
$cor-secundaria: #333366;
$cor-terciaria:#ff6633;
$cor-quaternaria: #b1f4ff;

$font-h1: 50px;
$font-h2: 20px;

$btn-radius: 20px;

$social-media-icons: 30px;